<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            <h1>데이터 차트</h1>
            <div class="col-10 offset-1">
                <form class="form-inline" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="word" class="sr-only">검색어</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="검색어 입력"> &nbsp;
                        <input type="text" name="key" class="form-control" id="key" placeholder="키워드 입력(10개까지)">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">검색하기</button>
                </form>
                <!-- npm i --save chart.js -->
                <canvas id="myChart" width="600" height="400"></canvas>
            </div>
        </div>
    </div>
</body>
<script>
    new Chart(document.getElementById("myChart"),
        {
            "type": "line",
            "data": <%- JSON.stringify(g) %>,
            "options": {}
        });
</script>

</html>