<!DOCTYPE html>
<html lang="en">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        <div class="row mt-4">
            
            <div class="col-10 offset-1">
                <form class="form-inline" method="post">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="word" class="sr-only">검색어</label>
                        <input type="text" name="word" class="form-control" id="word" placeholder="검색어 입력"> &nbsp;
                        <input type="text" name="key" class="form-control" id="key" placeholder="키워드 입력(10개까지)">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">검색하기</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>