<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">으아악</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/top20">Top20</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">검색</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lunch">점심 보기</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board">게시판</a>
            </li>
            <li>
                <a class="nav-link" href="/datalab2">네이버 API데이터 차트</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>